In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
directorio = 'dataset'
archivo = 'Entrenamieto_ECI_2020.csv'
fname = os.path.join(directorio,archivo)
#De esta forma puedo filtrar columnas.
df = pd.read_csv(fname, parse_dates= ['Account_Created_Date','Delivery_Year', 
                                      'Quote_Expiry_Date', 'Month', 
                                      'Actual_Delivery_Date', 'Planned_Delivery_End_Date',
                                       'Planned_Delivery_Start_Date', 'Opportunity_Created_Date',
                                       'Last_Modified_Date'] )

In [11]:
columns = ['Region', 'Territory', 'Delivery_Quarter', 'Delivery_Year', 'Total_Amount']
df_selected = df[columns]
df_selected[df_selected['Region'] == 'EMEA'].nlargest(10, 'Total_Amount')

     Region    Territory Delivery_Quarter Delivery_Year  Total_Amount
2179   EMEA         None               Q2    2016-01-01  2.162400e+08
3667   EMEA   SE America               Q3    2017-01-01  1.539788e+08
2806   EMEA  UAE (Dubai)               Q1    2017-01-01  1.237501e+08
1933   EMEA   Kazakhstan               Q2    2016-01-01  3.960007e+07
2957   EMEA      Romania               Q2    2016-01-01  3.603600e+07
598    EMEA       France               Q4    2017-01-01  3.480420e+07
7898   EMEA      Belgium               Q1    2018-01-01  3.332493e+07
1817   EMEA      Romania               Q3    2017-01-01  2.880198e+07
3684   EMEA        Italy               Q4    2016-01-01  2.879760e+07
5669   EMEA      Germany               Q1    2017-01-01  2.829750e+07